# Flutter & Dart
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/
android/build/

# iOS
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec

# IDE
.idea/
.vscode/

# Files
*.log
*.apk
*.aab
*.keystore
*.jks

# Misc
local.properties
GeneratedPluginRegistrant.java
.cxx/